.Button {
  --boxShadowColor: white;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 0 1px var(--boxShadowColor);
  padding: 1.4rem 2.5rem;
  border-radius: 5px;
  display: inline-flex;
  flex-direction: row;
  transition: 0.3s;
  overflow: hidden;
  cursor: pointer;
  position: relative;
}

.Button::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  transform: translateX(-100px);
  width: 10px;
  height: 100px;
  filter: blur(10px);
  z-index: -1;
  background: linear-gradient(transparent, white, transparent);
  transition: 0.3s;
}

.Button .text {
  font-weight: 600;
  display: flex;
}

.Button .text .link-icon {
  width: 20px;
  height: 20px;
  margin-left: .5rem;
  fill: rgba(255, 255, 255, 0.4);
}

.Button:hover, .Button:active {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0px 3px var(--boxShadowColor);
}

.Button:hover::before {
  transform: translateX(250px)
}