@import url("https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

.Home {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.section--welcome {
  display: flex;
  flex-direction: column;
}

.section--welcome .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 75vh;
  padding: 2rem 1.5rem;
  position: relative;
  z-index: 1;
}

.section--welcome .content .fullName {
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--textColor);
}

.section--welcome .content .profession {
  font-size: 1.3rem;
  font-weight: bold;
  display: block;
  color: rgba(223, 235, 249, 0.9);
}

.section--welcome .content .description {
  display: block;
  font-size: 1.1rem;
  width: 80%;
  margin: 0 auto;
  position: relative;
  text-align: center;
  font-weight: lighter;
  color: rgba(223, 235, 249, 0.9);
}

.section--welcome .socialNetworks {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

.section--welcome .socialNetworks svg {
  width: 25px;
  height: 28px;
  cursor: pointer;
}

.section--welcome .socialNetworks svg path {
  transition: 0.3s;
  fill: var(--textColor);
}

.section--welcome .socialNetworks svg:hover path {
  fill: #fff;
}



.section--about {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  position: relative;
  z-index: 1;
}

.section--about .title {
  color: var(--secondColor);
  font-size: 1.8rem;
}

.section--about .description {
  color: rgba(214, 243, 250, 0.597);
  font-size: 1rem;
  line-height: 23px;
  display: block;
  margin-top: 1.5rem;
}

.section--about .seeResumeCont {
  margin-top: 2rem;
}

.section--skills {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  position: relative;
  z-index: 1;
}

.section--skills .title {
  color: var(--secondColor);
  font-size: 1.8rem;
}

.section--skills .category {
  font-size: 1.5rem;
  display: flex;
  margin-top: 2rem;
}

.section--skills .categoryIcon {
  background: rgba(255, 255, 255, 0.1);
  padding: 3px 5px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -5px;
  width: 35px;
  height: 35px;
  margin-right: 0.5rem;
  border-radius: 10px;
}

.section--skills .categoryIcon span {
  position: relative;
  top: 1px;
}

.section--skills .skillsContent {
  display: flex;
  margin-top: 0.5rem;
  flex-wrap: wrap;
  list-style-type: none;
  gap: 1rem 2.7rem;
  width: 100%;
}

.section--skills .skillsContent .skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 120px;
  row-gap: 0.5rem;
  background: rgba(160, 154, 255, 0.15);
  padding: 1rem;
  border-radius: 15px;
  transition: 0.1s;
}

.section--skills .skillsContent .skill:hover {
  background: rgba(160, 154, 255, 0.3);
}

.section--skills .skillsContent .skill .name {
  font-size: 1rem;
  color: var(--secondColor);
}

.section--projects {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  position: relative;
  z-index: 1;
}

.section--projects .title {
  color: var(--secondColor);
  font-size: 1.8rem;
}

.section--projects .projects {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}