@import url("https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

.Home {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.section--welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.section--welcome .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 1.5rem;
  position: relative;
  z-index: 1;
}

.section--welcome .content .fullName {
  font-size: 2.5rem;
  font-weight: bold;
  color: white;
}

.section--welcome .content .profession {
  font-size: 1.1rem;
  font-weight: bold;
  display: block;
  margin-top: 0.8rem;
  color: silver;
}

.section--welcome .socialNetworks {
  margin-top: 2.5rem;
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

.section--welcome .socialNetworks svg {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.section--welcome .socialNetworks svg path {
  transition: 0.3s;
}

.section--welcome .socialNetworks svg:hover path {
  fill: #fff;
}

.section--welcome .getInTouchCont {
  display: flex;
  margin-top: 2.5rem;
}

.section--welcome .getInTouch {
  background: none;
  border: 1px solid var(--secondColor);
  color: var(--secondColor);
  width: 13rem;
  background: #ffffff05;
  backdrop-filter: blur(20px);
  border-radius: 2px;
  font-size: 1rem;
  text-align: center;
  padding: 1.3rem;
  transition: 0.2s;
}

.section--welcome .getInTouch:hover {
  background: var(--secondColor);
  box-shadow: 0 0 10px var(--secondColor);
  color: black;
}

.section--about {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  position: relative;
  z-index: 1;
}

.section--about .title {
  color: var(--secondColor);
  font-size: 1.8rem;
}

.section--about .description {
  color: rgba(214, 243, 250, 0.597);
  font-size: 1.2rem;
  line-height: 23px;
  display: block;
  margin-top: 1rem;
}

.section--about .seeResume {
  background: none;
  border: 1px dotted var(--secondColor);
  color: var(--secondColor);
  width: 13rem;
  margin-top: 1.3rem;
  background: #ffffff05;
  border-radius: 5px;
  font-size: 1rem;
  text-align: center;
  padding: 1.3rem;
  transition: 0.2s;
}

.section--about .seeResume:hover {
  background: var(--secondColor);
  box-shadow: 0 0 10px var(--secondColor);
  color: black;
}

.section--skills {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  position: relative;
  z-index: 1;
}

.section--skills .title {
  color: var(--secondColor);
  font-size: 1.8rem;
}

.section--skills .category {
  font-size: 1.5rem;
  display: flex;
  margin-top: 2rem;
}

.section--skills .categoryIcon {
  background: rgba(255, 255, 255, 0.1);
  padding: 3px 5px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -7px;
  width: 35px;
  height: 35px;
  margin-right: 0.5rem;
  border-radius: 10px;
}

.section--skills .categoryIcon span {
  position: relative;
  top: 15%;
}

.section--skills .skillsContent {
  display: flex;
  margin-top: 0.5rem;
  flex-wrap: wrap;
  list-style-type: none;
  gap: 1rem 2.7rem;
  width: 100%;
}

.section--skills .skillsContent .skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 120px;
  row-gap: 0.5rem;
  background: rgba(160, 154, 255, 0.153);
  padding: 1rem;
  border-radius: 15px;
}

.section--skills .skillsContent .skill .name {
  font-size: 1rem;
  color: var(--secondColor);
}
