.loader {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  --color: #6e24f9;;
}

.loader-d:before,
.loader-d:after {
  position: absolute;
  top: 0;
  content: '';
}

.loader-d:before {
  left: -19.992px;
}

.loader-d:after {
  left: 19.992px;
  -webkit-animation-delay: 0.32s !important;
  animation-delay: 0.32s !important;
}

.loader-d:before,
.loader-d:after,
.loader-d {
  background: var(--color);
  -webkit-animation: loading-keys-app-loading 0.8s infinite ease-in-out;
  animation: loading-keys-app-loading 0.8s infinite ease-in-out;
  width: 13.6px;
  height: 32px;
}

.loader-d {
  text-indent: -9999em;
  margin: auto;
  position: absolute;
  right: calc(50% - 6.8px);
  top: calc(50% - 16px);
  -webkit-animation-delay: 0.16s !important;
  animation-delay: 0.16s !important;
}

@-webkit-keyframes loading-keys-app-loading {

  0%,
  80%,
  100% {
    opacity: .75;
    box-shadow: 0 0 var(--color);
    height: 32px;
  }

  40% {
    opacity: 1;
    box-shadow: 0 -8px var(--color);
    height: 40px;
  }
}

@keyframes loading-keys-app-loading {

  0%,
  80%,
  100% {
    opacity: .75;
    box-shadow: 0 0 var(--color);
    height: 32px;
  }

  40% {
    opacity: 1;
    box-shadow: 0 -8px var(--color);
    height: 40px;
  }
}