/* @font-face {
    font-family: "CalibreMedium";
    src: url("./fonts/CalibreMedium/CalibreMedium.otf") format("opentype");
  } */
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --mainColor: rgb(22, 51, 180);
    --secondColor: rgb(255, 255, 255);
    --thirdColor: #d4d4d4;
}
  
body {
    color: rgb(255, 255, 255);
    background: rgb(148, 147, 147);
    background-size: cover;
    /* background-repeat: no-repeat; */
    background-attachment: fixed;
    font-family: "CalibreMedium", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
button {
    cursor: pointer;
}
