/* @font-face {
    font-family: "CalibreMedium";
    src: url("./fonts/CalibreMedium/CalibreMedium.otf") format("opentype");
  } */
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --mainColor: #334155;
    --secondColor: rgb(223, 235, 249);
    --textColor: rgb(223, 235, 249);
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}
  
body {
    color: rgb(255, 255, 255);
    background: linear-gradient(to right, #0f172a, #334155);
    background-size: cover;
    background-attachment: fixed;
    font-family: "CalibreMedium", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}